.wrap {
  width: 1332px;
  margin: 0 auto; }

#main {
  padding-top: 86px; }
  #main .good .goodshow img {
    width: 597px;
    height: 590px; }
  #main .good .goodlist {
    padding-left: 20px; }
    #main .good .goodlist img {
      width: 98px;
      height: 100px;
      border: 1px solid #ccc;
      margin-bottom: 20px; }
  #main .good .goodTo {
    width: 448px;
    text-align: center;
    padding-left: 140px;
    color: gray; }
    #main .good .goodTo .top h2, #main .good .goodTo .top p {
      font-size: 54px;
      font-family: serif;
      font-weight: normal;
      color: #444343;
      margin-bottom: 10px;
      letter-spacing: 20px; }
    #main .good .goodTo .top p {
      letter-spacing: 5px; }
    #main .good .goodTo .top a {
      text-decoration: underline;
      line-height: 36px;
      font-family: serif;
      font-style: oblique;
      letter-spacing: 3px; }
    #main .good .goodTo .mid {
      padding-top: 100px; }
      #main .good .goodTo .mid p {
        line-height: 26px; }
      #main .good .goodTo .mid .clear {
        width: 260px;
        height: 62px;
        padding-left: 10px;
        padding-top: 8px;
        border: 1px solid #ccc;
        margin: 0px auto;
        text-align: left; }
        #main .good .goodTo .mid .clear a {
          display: inline-block;
          width: 60px;
          height: 57px;
          background: url(../img/icon/shop_colorpick.png) no-repeat; }
    #main .good .goodTo .bot button {
      display: block;
      width: 270px;
      height: 65px;
      color: white;
      text-align: center;
      line-height: 65px;
      margin: 35px auto;
      background: #9d6f89;
      border: none;
      font-size: 20px;
      cursor: pointer; }
    #main .good .goodTo .bot p {
      font-size: 20px; }
  #main .gooddetail {
    width: 1320px; }
    #main .gooddetail .top {
      padding-top: 80px;
      padding-bottom: 40px; }
    #main .gooddetail .mid {
      text-align: center;
      border-top: 1px solid #ccc;
      margin-left: 8px; }
      #main .gooddetail .mid h2 {
        line-height: 50px; }
      #main .gooddetail .mid li {
        float: left;
        margin: 0px 16px;
        border: 1px solid #ccc; }
      #main .gooddetail .mid li.first {
        margin-left: 0px; }
      #main .gooddetail .mid li.last {
        margin-right: 0px; }
    #main .gooddetail .bot {
      padding-left: 8px;
      padding-top: 35px;
      padding-bottom: 60px; }
