doctype
html
	head
		meta(charset="utf-8")
		title meta
		link(rel="stylesheet",type="text/css",href="../css/common.css")
		link(rel="stylesheet",type="text/css",href="../css/aboutUs.css")
		script(src="../js/conmon.js")
		body
			div#mask.hide
				div.login.hide
					div.content
						div.top
							h2 -欢迎回来-
						div.mid
							button.weibo 微博账户登陆
							button.qq qq账户登录
						div.bot
							dl
								dt -or-
								dd
									p 姓名
									input(type="text")
								dd
									p 密码
									input(type="password")
								dd.submit
									input(type="submit",value="登录")
								dd
									a(href="#") 忘记密码？点击这里
									
					div.toReg
						a(href="#") 注册META
				div.reg.hide
					dl
						dt 加入META会员计划
						dd 市场上的产品
						dd 一般都是8倍与其成本进行销售
						dd 但是，在META绝不是
						dd 我们将会坚持我们的极致透明策略
						dd 去除一切中间商，减少供应链，提供
						dd 优质，低廉价格的设计师产品
					form
						p 邮箱
						input(type="text")
						button.create 创建账户
						button.weibo 微博账户登陆
						button.qq qq账户登录
					div.toLogin
						a(href="#") 已注册？ 登录
				div.reg.reged.hide
					dl
						dt 注册即将完成
						dd
							p 姓名
							input(type="text")
						dd
							p 密码
							input(type="password")
						dd
							p 手机号码
							input(type="text")
					div.clear
						div.bar
							div
							span 登录中
			div#header
				div.top.clear
					div.fl
						p 加入会员，首单免邮
					div.fr.clear
						div.remeber.fl
							p.hide
								a(href="#") 登录
								span |
								a(href="#") 注册
							dl
								dt
									span HI，
									span 王楠
								dd
									a(href="remeber.html?") 我的账号
								dd
									a(href="remeber.html?") 我的订单
								dd
									a(href="remeber.html?") 订单退换
								dd
									a(href="remeber.html?") 收货地址
								dd
									a(href="remeber.html?") 退出
						div.shopBag.fl
							p
								a(href="#") 购物车
								a.shopbag(href="#")
							div.shopcar.hide
								div.noGoods.hide
									p 您的购物袋是空的
									span 加入会员，首单免邮
								div.hasGoods.hide
									ul
										li.clear.first
											div.del
												a(href="#") x
											div.fl
												img(src="../img/goods_1.png")
											table.fl
												th 麦坦双肩背包
												tr
													td 尺码
													td
													td 数量
													td
													td.last 总价
												tr
													td 均码
													td
														a(href="#") -
													td
														input(type="text",value="1")
													td
														a(href="#") +
													td.last ￥199
										li.clear
											div.del
												a(href="#") x
											div.fl
												img(src="../img/goods_2.png")
											table.fl
												th 麦坦双肩背包
												tr
													td 尺码
													td
													td 数量
													td
													td.last 总价
												tr
													td 均码
													td
														a(href="#") -
													td
														input(type="text",value="1")
													td
														a(href="#") +
													td.last ￥349
									p 加入会员，首单免邮
									a.statement(href="#") 结算
				div.mid
				div.bot
					p
						a(href="#") 产品目录
						a(href="#") 工厂故事
						a(href="#") 优惠策略
						a(href="#") 关于我们
			div#main
				div.aboutMeta
					div.tips
						p
							a(href="#team") 团队介绍
							a(href="#designIdea") 设计理念
							a(href="#media") 媒体报道
							a(href="#containsUs") 联系我们
					div.top
						p -关于META-
						p.p2 极致透明
						p.p3
							span 了解制作工厂，了解产品成本，
							br
							span 了解你的需求	
					div.mid.clear
						dl
							dt 了解制作工厂
							dd 每当我们在生产一件新单品的时候，
							dd 我们会花好几个月的
							dd 时间去寻找精通次单品的工厂
							dd 与其合作，其实在这个过程中,如何找到在对应领域最
							dd 顶尖的工厂，最合适
							dd 的原材料
							dd 每当我们在生产一件新单品的时候，
							dd 我们会花好几个月的
							dd 时间去寻找精通次单品的工厂
							dd 与其合作，其实在这个过程中,如何找到在对应领域最
							dd 顶尖的工厂，最合适
							dd 我们正在全球范围内搜寻最好的与产品匹配的供应商
						dl
							dt 了解产品成本
							dd 每当我们在生产一件新单品的时候，
							dd 我们会花好几个月的
							dd 时间去寻找精通次单品的工厂
							dd 与其合作，其实在这个过程中,如何找到在对应领域最
							dd 顶尖的工厂，最合适
							dd 的原材料
							dd 每当我们在生产一件新单品的时候，
							dd 我们会花好几个月的
							dd 时间去寻找精通次单品的工厂
							dd 与其合作，其实在这个过程中,如何找到在对应领域最
							dd 顶尖的工厂，最合适
							dd 我们正在全球范围内搜寻最好的与产品匹配的供应商
						dl
							dt 了解你的需求
							dd 每当我们在生产一件新单品的时候，
							dd 我们会花好几个月的
							dd 时间去寻找精通次单品的工厂
							dd 与其合作，其实在这个过程中,如何找到在对应领域最
							dd 顶尖的工厂，最合适
							dd 的原材料
							dd 每当我们在生产一件新单品的时候，
							dd 我们会花好几个月的
							dd 时间去寻找精通次单品的工厂
							dd 与其合作，其实在这个过程中,如何找到在对应领域最
							dd 顶尖的工厂，最合适
							dd 我们正在全球范围内搜寻最好的与产品匹配的供应商
					div.bot
						dl
							dt
								span 顾客有权利去知道他们购买的产品来自哪里
								br
								span 并了解每件产品的成本。
							dd 一个简单地理念，三个合伙人一拍即合，在2015年创立了META这个品牌。
							dd 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道体系，
							dd 但是，在META，它绝不是这样。
							dd 这个事实让我们震撼。
							dd 一个简单地理念，三个合伙人一拍即合，在2015年创立了META这个品牌。
							dd 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道体系，
							dd 但是，在META，它绝不是这样。
							dd 这个事实让我们震撼。
							dd 一个简单地理念，三个合伙人一拍即合，在2015年创立了META这个品牌。
							dd 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道体系，
							dd 但是，在META，它绝不是这样。
							dd 这个事实让我们震撼。
				div.wrap
					div#team
						h2 -团队介绍-
						p
							img(src="../img/aboutUs_1.png")
						dl
							dd 一个简单地理念，三个合伙人一拍即合，在2015年创立了META这个品牌。
							dd 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道体系，
							dd 但是，在META，它绝不是这样。
							dd 这个事实让我们震撼。
							dd 一个简单地理念，三个合伙人一拍即合，在2015年创立了META这个品牌。
							dd 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道体系，
							dd 但是，在META，它绝不是这样。
							dd 这个事实让我们震撼。
							dd 一个简单地理念，三个合伙人一拍即合，在2015年创立了META这个品牌。
							dd 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道体系，
							dd 但是，在META，它绝不是这样。
							dd 这个事实让我们震撼。
					div#designIdea
						h2 -设计理念-
						p
							img(src="../img/aboutUs_2.png")
						dl
							dt 我们追求极简的设计理念
							dd 一个简单地理念，三个合伙人一拍即合，在2015年创立了META这个品牌。
							dd 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道体系，
							dd 但是，在META，它绝不是这样。
							dd 这个事实让我们震撼。
							dd 一个简单地理念，三个合伙人一拍即合，在2015年创立了META这个品牌。
							dd 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道体系，
							dd 但是，在META，它绝不是这样。
							dd 这个事实让我们震撼。
							dd 一个简单地理念，三个合伙人一拍即合，在2015年创立了META这个品牌。
							dd 你衣橱里购买的衣服至少是其成本的8倍，这是传统渠道体系，
							dd 但是，在META，它绝不是这样。
							dd 这个事实让我们震撼。
					div#media
						h2 -媒体报道-
						p
							img(src="../img/aboutUs_3.png")
					div#containsUs
						h2 -联系我们-
						dl
							dt
								p 我们仅在线销售，
								p 我们非常希望听到您的声音
								p 您的意见是我们前进的动力
								div
									a(href="#")
									a(href="#")
							dd 
								p For general inquirises
								p support@metamorephosis.cn
							dd 
								p For general inquirises
								p support@metamorephosis.cn
							dd 
								p For general inquirises
								p support@metamorephosis.cn
							
			div#footer
				div.content.clear
					dl.fl
						dt 帮助
						dd
							a(href="#") 退换货
						dd
							a(href="#") 联系我们
						dd
							a(href="#") 服务条款
						dd
							a(href="#") 隐私声明
					dl.fl
						dt 公司介绍
						dd
							a(href="#") 工厂故事
						dd
							a(href="#") 关于我们
					dl.fl
						dt 社交网络
						dd
							a(href="#") 微博
						dd
							a(href="#") 微信
						dd
							a(href="#") 博客