doctype
html
	head
		meta(charset="utf-8")
		title meta
		link(rel="stylesheet",type="text/css",href="../css/common.css")
		link(rel="stylesheet",type="text/css",href="../css/index.css")
		script(src="../js/js.js")
		body
			div#mask.hide
				div.login.hide
					div.content
						div.top
							h2 -欢迎回来-
						div.mid
							button.weibo 微博账户登陆
							button.qq qq账户登录
						div.bot
							dl
								dt -or-
								dd
									p 姓名
									input(type="text")
								dd
									p 密码
									input(type="password")
								dd.submit
									input(type="submit",value="登录")
								dd
									a(href="#") 忘记密码？点击这里
									
					div.toReg
						a.toReg_a(href="#") 注册META
				div.reg.hide
					dl
						dt 加入META会员计划
						dd 市场上的产品
						dd 一般都是8倍与其成本进行销售
						dd 但是，在META绝不是
						dd 我们将会坚持我们的极致透明策略
						dd 去除一切中间商，减少供应链，提供
						dd 优质，低廉价格的设计师产品
					form
						p 邮箱
						input(type="text")
						button.create 创建账户
						button.weibo 微博账户登陆
						button.qq qq账户登录
					div.toLogin
						a.toLogin_a(href="#") 已注册？ 登录
				div.reg.reged.hide
					dl
						dt 注册即将完成
						dd
							p 姓名
							input(type="text")
						dd
							p 密码
							input(type="password")
						dd
							p 手机号码
							input(type="text")
					div.clear
						div.bar
							div
							span 登录中
			div#header
				div.top.clear
					div.fl
						p 加入会员，首单免邮
					div.fr.clear
						div.remeber.fl
							p
								a.login_a(href="#") 登录
								span |
								a.reg_a(href="#") 注册
							dl.hide
								dt
									span HI，
									span 王楠
								dd
									a(href="remeber.html?") 我的账号
								dd
									a(href="remeber.html?") 我的订单
								dd
									a(href="remeber.html?") 订单退换
								dd
									a(href="remeber.html?") 收货地址
								dd
									a(href="remeber.html?") 退出
						div.shopBag.fl
							p
								a(href="#") 购物车
								a.shopbag(href="#")
							div.shopcar.hide
								div.noGoods.hide
									p 您的购物袋是空的
									span 加入会员，首单免邮
								div.hasGoods.hide
									ul
										li.clear.first
											div.del
												a(href="#") x
											div.fl
												img(src="../img/goods_1.png")
											table.fl
												th 麦坦双肩背包
												tr
													td 尺码
													td
													td 数量
													td
													td.last 总价
												tr
													td 均码
													td
														a(href="#") -
													td
														input(type="text",value="1")
													td
														a(href="#") +
													td.last ￥199
										li.clear
											div.del
												a(href="#") x
											div.fl
												img(src="../img/goods_2.png")
											table.fl
												th 麦坦双肩背包
												tr
													td 尺码
													td
													td 数量
													td
													td.last 总价
												tr
													td 均码
													td
														a(href="#") -
													td
														input(type="text",value="1")
													td
														a(href="#") +
													td.last ￥349
									p 加入会员，首单免邮
									a.statement(href="account.html") 结算
				div.mid
				div.bot
					p
						a(href="#") 产品目录
						a(href="plot.html") 工厂故事
						a(href="#") 优惠策略
						a(href="aboutUs.html") 关于我们
			div#main
				div.banner
					ul.clear
						li
							a(href="shop.html")
								img(src="../img/banner_1.png")
						li
							a(href="shop.html")
								img(src="../img/banner_1.png")
						li
							a(href="shop.html")
								img(src="../img/banner_1.png")
					p
				div.goodsList.wrap
					div.section
						h2 双肩包系列
						ul.clear
							li
								p
									a(href="shop.html")
										img(src="../img/goods_1.png")
								p.title
									a(href="shop.html")
										span 麦坦双肩包
										span ￥348
							li
								p
									a(href="shop.html")
										img(src="../img/goods_2.png")
								p.title
									a(href="shop.html")
										span 麦坦双肩包
										span ￥348
							li
								p
									a(href="shop.html")
										img(src="../img/goods_3.png")
								p.title
									a(href="shop.html")
										span 麦坦双肩包
										span ￥348
							li
								p
									a(href="shop.html")
										img(src="../img/goods_4.png")
								p.title
									a(href="shop.html")
										span 麦坦双肩包
										span ￥348
							li
								p
									a(href="shop.html")
										img(src="../img/goods_5.png")
								p.title
									a(href="shop.html")
										span 麦坦双肩包
										span ￥348
					div.section
						h2 单肩包系列
						ul.clear
							li
								p
									a(href="shop.html")
										img(src="../img/goods_6.png")
								p.title
									a(href="shop.html")
										span 麦坦双肩包
										span ￥348
							li
								p
									a(href="shop.html")
										img(src="../img/goods_7.png")
								p.title
									a(href="shop.html")
										span 麦坦双肩包
										span ￥348
							li
								p
									a(href="shop.html")
										img(src="../img/goods_8.png")
								p.title
									a(href="shop.html")
										span 麦坦双肩包
										span ￥348
							li
								p
									a(href="shop.html")
										img(src="../img/goods_9.png")
								p.title
									a(href="shop.html")
										span 麦坦双肩包
										span ￥348
					div.section
						h2 洗漱包系列
						ul.clear
							li
								p
									a(href="shop.html")
										img(src="../img/goods_10.png")
								p.title
									a(href="shop.html")
										span 麦坦双肩包
										span ￥348
							li
								p
									a(href="shop.html")
										img(src="../img/goods_11.png")
								p.title
									a(href="shop.html")
										span 麦坦双肩包
										span ￥348
			div#footer
				div.content.clear
					dl.fl
						dt 帮助
						dd
							a(href="#") 退换货
						dd
							a(href="#") 联系我们
						dd
							a(href="#") 服务条款
						dd
							a(href="#") 隐私声明
					dl.fl
						dt 公司介绍
						dd
							a(href="plot.html") 工厂故事
						dd
							a(href="aboutUs.html") 关于我们
					dl.fl
						dt 社交网络
						dd
							a(href="#") 微博
						dd
							a(href="#") 微信
						dd
							a(href="#") 博客
						
							
		