doctype
html
	head
		meta(charset="utf-8")
		title meta
		link(rel="stylesheet",type="text/css",href="../css/common.css")
		link(rel="stylesheet",type="text/css",href="../css/plot.css")
		script(src="../js/conmon.js")
		body
			div#mask.hide
				div.login.hide
					div.content
						div.top
							h2 -欢迎回来-
						div.mid
							button.weibo 微博账户登陆
							button.qq qq账户登录
						div.bot
							dl
								dt -or-
								dd
									p 姓名
									input(type="text")
								dd
									p 密码
									input(type="password")
								dd.submit
									input(type="submit",value="登录")
								dd
									a(href="#") 忘记密码？点击这里
									
					div.toReg
						a.toReg_a(href="#") 注册META
				div.reg.hide
					dl
						dt 加入META会员计划
						dd 市场上的产品
						dd 一般都是8倍与其成本进行销售
						dd 但是，在META绝不是
						dd 我们将会坚持我们的极致透明策略
						dd 去除一切中间商，减少供应链，提供
						dd 优质，低廉价格的设计师产品
					form
						p 邮箱
						input(type="text")
						button.create 创建账户
						button.weibo 微博账户登陆
						button.qq qq账户登录
					div.toLogin
						a.toLogin_a(href="#") 已注册？ 登录
				div.reg.reged.hide
					dl
						dt 注册即将完成
						dd
							p 姓名
							input(type="text")
						dd
							p 密码
							input(type="password")
						dd
							p 手机号码
							input(type="text")
					div.clear
						div.bar
							div
							span 登录中
			div#header
				div.top.clear
					div.fl
						p 加入会员，首单免邮
					div.fr.clear
						div.remeber.fl
							p
								a.login_a(href="#") 登录
								span |
								a.reg_a(href="#") 注册
							dl.hide
								dt
									span HI，
									span 王楠
								dd
									a(href="remeber.html?") 我的账号
								dd
									a(href="remeber.html?") 我的订单
								dd
									a(href="remeber.html?") 订单退换
								dd
									a(href="remeber.html?") 收货地址
								dd
									a(href="remeber.html?") 退出
						div.shopBag.fl
							p
								a(href="#") 购物车
								a.shopbag(href="#")
							div.shopcar.hide
								div.noGoods.hide
									p 您的购物袋是空的
									span 加入会员，首单免邮
								div.hasGoods.hide
									ul
										li.clear.first
											div.del
												a(href="#") x
											div.fl
												img(src="../img/goods_1.png")
											table.fl
												th 麦坦双肩背包
												tr
													td 尺码
													td
													td 数量
													td
													td.last 总价
												tr
													td 均码
													td
														a(href="#") -
													td
														input(type="text",value="1")
													td
														a(href="#") +
													td.last ￥199
										li.clear
											div.del
												a(href="#") x
											div.fl
												img(src="../img/goods_2.png")
											table.fl
												th 麦坦双肩背包
												tr
													td 尺码
													td
													td 数量
													td
													td.last 总价
												tr
													td 均码
													td
														a(href="#") -
													td
														input(type="text",value="1")
													td
														a(href="#") +
													td.last ￥349
									p 加入会员，首单免邮
									a.statement(href="account.html") 结算
				div.mid
				div.bot
					p
						a(href="#") 产品目录
						a(href="plot.html") 工厂故事
						a(href="#") 优惠策略
						a(href="aboutUs.html") 关于我们
			div#content
				div.top
					div.up
						img(src="../img/icon/plotInside_1.jpg")
					div.center
						p “我们第一次拜访工厂的时候
						p 整齐的工厂和门口的棕榈树给我们留下了深刻印象
						p 这里有着非常干净舒适的工作环境，超过1100名员工，平均4年以上从业经验。”
					div.under
						dl.clear.wrap
							dt 我们在这里生产
							dd 麦塔帆布单肩包
							dd.two 麦塔帆布双肩包
							dd.three 麦塔帆布洗漱包
				div.mid
					dl
						dt 我们如何找到它
						dd 帆布包是META想做的第一件单品，正好我们有一位非常资深的从事包袋行业的朋友，
						dd 他向我们引荐了这个工厂的老板，洪先生。
						dd 并向我们保证，他是最合适我们的人选。
						dd 经过几轮电话沟通，我们去东莞拜访了他的工厂，
						dd 我们了解了他们服务的品牌，
						dd 大多来自全球的著名轻奢品牌，
						dd 他们目前最少的订单也是起码我们的100倍的规模以上。
						dd 说道订单量，因为在品牌创办初期，其实是远达不到洪先生要求的，
						dd 但是我们不放弃，和他解释了很多关于我们品牌的理念和想法，洪先生最终决定和我们尝试合作一次。
						dd 于是，META的第一件单品便诞生了。
					dl
						dt 材质
						dd 帆布包是META想做的第一件单品，正好我们有一位非常资深的从事包袋行业的朋友，
						dd 他向我们引荐了这个工厂的老板，洪先生。
						dd 并向我们保证，他是最合适我们的人选。
						dd 经过几轮电话沟通，我们去东莞拜访了他的工厂，
						dd 我们了解了他们服务的品牌，
						dd 大多来自全球的著名轻奢品牌，
						dd 他们目前最少的订单也是起码我们的100倍的规模以上。
						dd 说道订单量，因为在品牌创办初期，其实是远达不到洪先生要求的，
						dd 但是我们不放弃，和他解释了很多关于我们品牌的理念和想法，洪先生最终决定和我们尝试合作一次。
						dd 于是，META的第一件单品便诞生了。
					dl
						dt 工厂主人
						dd 洪先生1982年创立此企业，其实对于他来说，
						dd 我们真的是非常小型的客户，但是他已然很亲切的接待了我们，
						dd 并且给与我们非常多的建议和帮助，我们非常感谢他。
				div.bot
					p
						img(src="../img/icon/plotinside_2.png")
					p
						img(src="../img/icon/plotinside_3.png")
					p
						img(src="../img/icon/plotinside_4.png")
					p
						img(src="../img/icon/plotinside_5.png")
			div#footer
				div.content.clear
					dl.fl
						dt 帮助
						dd
							a(href="#") 退换货
						dd
							a(href="#") 联系我们
						dd
							a(href="#") 服务条款
						dd
							a(href="#") 隐私声明
					dl.fl
						dt 公司介绍
						dd
							a(href="#") 工厂故事
						dd
							a(href="#") 关于我们
					dl.fl
						dt 社交网络
						dd
							a(href="#") 微博
						dd
							a(href="#") 微信
						dd
							a(href="#") 博客