doctype
html
	head
		meta(charset="utf-8")
		title meta
		link(rel="stylesheet",type="text/css",href="../css/common.css")
		link(rel="stylesheet",type="text/css",href="../css/resetPass.css")
		script(src="../js/conmon.js")
		body
			div.wrap
				h2 重置您的密码
				p 请在下方输入您的邮箱以重置密码
				form
					input(type="text",value="输入您的邮箱")
					input.submit(type="subnit",value="重置密码")
			h2 请查收您的邮箱，按照邮件中的指示完成重置密码的任务。