body,h1,h2,h3,h4,h5,p,dl,dd,ul,ol,form,input,textarea,th,td,select { margin:0; padding:0; font-size: 12px;}
em { font-style:normal; }
li { list-style:none; }
a { color: #000000;text-decoration: none;}
a:hover{text-decoration: underline;}
img { border:none; vertical-align:top; }
table { border-collapse:collapse; }
input,textarea { outline:none; vertical-align: top;}
textarea { resize:none; overflow:auto; }
.clear { zoom:1; }
.clear:after { content:''; display:block; clear:both; }
.fl { float:left; }
.fr { float:right; }
body { font-size:12px; font-family: "微软雅黑"; }
.wrap{width: 960px;margin: 0px auto;}
.wrap_t{width: 954px;margin: 0px auto;}
.r{border-radius: 4px;}


#head{height: 22px;border: 1px solid #ccc;background: #e6e7ee;}
#nav{height: 86px;}
#search{height: 14px;margin-top:6px ;border:1px solid #ccc;padding: 7px 20px 14px 15px;width: 920px;background: -webkit-linear-gradient(top,white,#ccc);}
#ad{height: 60px;margin: 20px auto;}
#content{height: 964px;border: 1px solid black;}
#foot{height: 62px;border: 1px solid black;}
.main{width: 540px;float: left;border: 1px solid black;width: 540px;margin: 0px 11px;height: 954px;}
.side_l{float: left;width: 175px;border: 1px solid black;height: 914px;}
.side_r{float: left;width: 216px;border: 1px solid black;height: 964px;}


#head p{padding: 8px 10px 2px 15px;}
#head p.fr{background: url(../images/dd_header_shop.gif) no-repeat 0px 5px;padding-left: 20px;}
#nav{background: url(../images/dd_logo.gif) no-repeat 0px 12px;}
.n-top{height: 59px;position: relative;}
#nav p:nth-child(1){height: 25px;background: #e6e7ee;border-radius: 6px 6px 0px 0px;border: 1px solid #ccc;position: absolute;top:32px;left:140px;line-height: 25px;padding: 0px 10px 0px 10px;border-bottom: none;}
#nav p:nth-child(1) a{margin: 0px 5px;}
#nav p:nth-child(2){position: absolute;top: 32px;left: 660px;}
#nav p:nth-child(2) a{display: inline-block;padding: 10px 5px 5px 5px;background: orange;color: darkred;border-radius: 6px 6px 0 0;}
#nav p:nth-child(2) a:nth-child(3){padding-right: 30px;background: orange url(../images/dd_header_top.png) no-repeat right center;}
.n-bot{height: 27px;background: orangered;color: white;text-align: center;line-height: 26px;}
.n-bot a{color: white;margin: 0px 10px;}
#search input{width: 200px;height: 18px;}
#search>a{display: inline-block;width: 100px;height: 22px;background: url(../images/dd_header_search_btn.jpg) no-repeat;margin-left: 10px;}
#search p a{margin: 0px 6px;line-height: 24px;}
#search p a:nth-child(7){margin-right: 50px;}
#search p a:nth-child(1){background: url(../images/dd_arrow_right.gif) no-repeat -1px;padding-left: 10px;}
#search p a:nth-child(2){display:inline-block;background: url(../images/dd_header_search_top.jpg)no-repeat ;padding-left: 80px;height: 25px;width: 24px;}
