#head{background: url(img/44.jpg) no-repeat;background-size: cover;}
#head .container{
	padding: 60px 16px 10px 16px;
}
#head h1{font-size: 41px;color: white;margin-bottom: 50px;}
#head li{margin-bottom: 5px;margin-left: 4px;border-radius: 4px;}
#head li a{color: white;}
#head li a:hover{background: black;}
.navbar {background: none;border: none;}
nav.navbar{margin: 0px;}
nav .a li{padding:0px 15px;}
/*ul.a{margin: 0px auto;float: none;}*/
