#main {
    .top {
        ul {
            li {
                float: left;
                margin-left: 205px;
                text-align: center;
                span {
                    display: inline-block;
                    border-radius: 50%;
                    width: 28px;
                    height: 28px; //                  background: #9d6f89;
                    background: gray;
                    line-height: 28px;
                    text-align: center;
                    margin-bottom: 12px;
                    color: white;
                }
                p {
                    font-size: 20px;
                    color: #666666;
                }
            }
            li.pass {
                span {
                    background: #c29bb1;
                }
                p {
                    color: gray;
                }
            }
            li.going {
                span {
                    background: #9d6f89;
                }
                p {
                    color: #000000;
                }
            }
        }
    }
    .content {
        font-size: 20px;
        .hide {
            display: none;
        }
        h2 {
            border-bottom: 1px solid #ccc;
            text-align: center;
            line-height: 198px;
            font-size: 38px;
            color: #3d3d3d;
            font-family: serif;
            letter-spacing: 5px;
            margin-bottom: 52px;
        }
        h2.hide {
            line-height: 44px;
            margin: 65px 0 98px;
            border: none;
            p {
                font-size: 38px;
            }
        }
        .address {
            padding-left: 108px;
            padding-bottom: 73px;
            color: #666666;
            form {
                width: 570px;
                div {
                    margin-bottom: 10px;
                    margin-right: 20px;
                    p {
                         line-height: 30px;
                    }
                    input {
                        width: 506px;
                        height: 50px;
                        font-size: 20px;
                        padding-left: 20px;
                        border: 1px solid #ccc;
                    }
                }
                div.clear {
                    input {
                        width: 232px;
                    }
                }
                div.submit {
                    line-height: 55px;
                    padding-top: 30px;
                    margin: 0px;
                    button {
                        width: 180px;
                        height: 55px;
                        background: #9d6f89;
                        color: white;
                        font-size: 20px;
                        text-align: center;
                        border: none;
                        margin-right: 22px;
                        cursor: pointer;
                    }
                }
            }
            .account {
                .top {
                    padding: 25px 0;
                    p {
                        line-height: 60px;
                    }
                    p.first {
                        color: black;
                    }
                }
                ul {
                    li {
                        width: 734px;
                        height: 105px;
                        border-top: 1px solid #ccc;
                        padding: 45px 0;
                        position: relative;
                        .del {
                            a {
                                position: absolute;
                                font-size: 30px;
                                color: #ccc;
                                top: 39px;
                                right: 22px;
                                font-family: "agency fb";
                            }
                            a:hover {
                                color: red;
                            }
                        }
                        .fl {
                            img {
                                width: 148px;
                            }
                        }
                        table {
                            line-height: 40px;
                            margin-left: 20px;
                            td {
                                padding: 0 5px;
                            }
                            td.last {
                                padding-left: 60px;
                            }
                            input {
                                width: 34px;
                                height: 37px;
                                text-align: center;
                                line-height: 37px;
                            }
                        }
                    }
                    li.first {
                        border: none;
                    }
                }
            }
            .addressed {
                padding-bottom: 175px;
                dl {
                    dt {
                        padding-bottom: 38px;
                    }
                    dd {
                        line-height: 45px;
                        a{
                            color: #a47a91;
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        .accountAll {
            dl {
                 width: 222px;
                height: 413px;
                border: 1px solid #ccc;
                margin-right: 100px;
                padding: 0 22px;
                color: #636363;
                dt {
                    text-align: center;
                    line-height: 78px;
                    font-size: 21px;
                }
                dd {
                    line-height: 82px;
                    border-top: 1px solid #ccc;
                    padding: 0 13px;
                    font-size: 17px;
                }
            }
            .hide{
                padding-top: 10px;
                p{
                    margin-top: 20px;
                    line-height: 35px;
                     button{
                         width: 260px;
                         height: 35px;
                         background: #9d6f89;
                         color: #ded1d8;
                         font-size: 20px;
                          text-align: center;
                          border: none;
                          cursor: pointer;
                     }
                }
               
            }
        }
    }
}