#main {
    color: #666666;
    .top {
        margin-top: 42px;
        img {
            width: 100%;
        }
    }
    .mid {
        h2 {
            font-size: 40px;
            font-family: serif;
            text-align: center;
            line-height: 114px;
        }
    }
    .bot {
        height: 260px;
        padding-bottom: 86px;
        overflow: hidden;
        position: relative;
        ul {
            position: absolute;
            display: inline;
            width: auto;
            li {
                float: left;
            }
        }
    }
}
#content {
    color: #666666;
    text-align: center;
    dt{
        font-size: 33px;
        line-height: 102px;
        font-family: serif;
        letter-spacing: 5px;
    }
    dd{
        line-height: 22px;
        font-family: serif;
    }
    .top {
        .up {
            padding-top: 35px;
            img {
                width: 100%;
            }
        }
        .center{
            padding: 66px 0px 67px 0px;
            p{
                font-size: 33px;
                font-style: oblique;
                font-family: serif;
            }
        }
        .under{
            dl{
                width: 1170px;
              dt{
                  padding-bottom: 33px;
              }
              dd{
                  float: left;
                  margin: 0px 138px;
                  height: 22px;
                  padding-top: 104px;
                  background: url(../img/icon/plotInside_icon_1.jpg) no-repeat -43px 0px;
              } 
              dd.two{
                   background: url(../img/icon/plotInside_icon_1.jpg) no-repeat -453px 0px;
              } 
              dd.three{
                  background: url(../img/icon/plotInside_icon_1.jpg) no-repeat -863px 0px;
              } 
            } 
        }
    }
    .bot{
        padding: 56px 0px 73px 0px;
        p{
            margin-top: 30px;
        }
    }
}