h2 {
    font-size: 38px;
    font-family: serif;
    line-height: 120px;
    text-align: center;
    color: #666666;
}
.wrap {
    width: 523px;
    text-align: center;
    color: #666666;
    p {
        font-size: 18px;
    }
    input {
        margin-top: 40px;
        width: 503px;
        height: 52px;
        padding-left: 20px;
        color: #666666;
    }
    input.submit {
        background: #9d6f89;
        line-height: 52px;
        text-align: center;
        border: none;
        color: whitesmoke;
    }
}