.wrap {
    width: 1332px;
    margin: 0 auto;
}
#main {
    padding-top: 86px;
    .good {
        .goodshow {
            img {
                width: 597px;
                height: 590px;
            }
        }
        .goodlist {
            padding-left: 20px;
            img {
                width: 98px;
                height: 100px;
                border: 1px solid #ccc;
                margin-bottom: 20px;
            }
        }
        .goodTo{
            width: 448px;
            text-align: center;
            padding-left: 140px;
            color: gray;
            .top{
                h2,p{
                    font-size: 54px;
                    font-family: serif;
                    font-weight: normal;
                    color: #444343;
                    margin-bottom: 10px;
                    letter-spacing: 20px;
                }
                p{ letter-spacing: 5px;}
                a{
                    text-decoration: underline;
                    line-height: 36px;
                    font-family: serif;
                    font-style: oblique;
                    letter-spacing: 3px;
                }
            }
            .mid{
                padding-top: 100px;
                p{
                    line-height: 26px;
                }
                .clear{
                   width: 260px;
                   height: 62px;
                   padding-left: 10px;
                   padding-top: 8px;
                   border: 1px solid #ccc;
                   margin: 0px auto;
                   text-align: left;
                   a{
                       display: inline-block;
                       width: 60px;
                       height: 57px;
                       background: url(../img/icon/shop_colorpick.png) no-repeat;
                   }
                 }
            }
            .bot{
                button{
                    display: block;
                    width: 270px;
                    height: 65px;
                    color: white;
                    text-align: center;
                    line-height: 65px;
                    margin: 35px auto;
                    background: #9d6f89;
                    border: none;
                    font-size: 20px;
                    cursor: pointer;
                }
                p{
                    font-size: 20px;
                }
            }
        }
    }
    .gooddetail{
        width: 1320px;
        .top{
            padding-top: 80px;
            padding-bottom: 40px;
        }
       .mid{
           text-align: center;
           border-top: 1px solid #ccc;
           margin-left: 8px;
           h2{
               line-height: 50px;
           }
           li{
               float: left;
               margin: 0px 16px;
               border: 1px solid #ccc;
           }
           li.first{
               margin-left: 0px;
           }
           li.last{
               margin-right: 0px;
           }
       }
       .bot{
           padding-left: 8px;
           padding-top: 35px;
           padding-bottom: 60px;
       }
    }
}
